:root{
    --black-color: #010101;
    --main-color: #007ea7;
    --alt-color: #00a8e8;
    --gray-color: rgb(219, 219, 219);
    --main-transition: 0.5s;
}
/* Start Login & Register */
.register
,.login{
    background-image: url(../../../../images/login.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
}
.register::before
,.login::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #010101b7;
}
.register-form
,.login-form{
    background-color: rgba(255, 255, 255, 0.692);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
form .form-control{
    width: 250px;
    border-radius: 0;
}
.register-form .form-control::placeholder
,.login-form .form-control::placeholder{
    transition: 1s;
}
.register-form .form-control:focus::placeholder
.login-form .form-control:focus::placeholder{
    opacity: 0;
}
.register-form .btn:hover
,.login-form .btn:hover{
    background-color: var(--alt-color);
}
@media(max-width: 767px){
    .register-form .input{
        flex-direction: column;
    }
}
/* End Login & Register*/
/* Start Halls Information */
.hallinfo{
    background-color: var(--gray-color);
    width: 100%;
    height: 100vh;
}
.hallinfo .info-form{
    background-color: #fff;
}
/* End Halls Information */
/* Start Booking */
.hallinfo .table thead{
    background-color: #051924;
    color: #fff;
}
.hallinfo .table tbody{
    background-color: rgb(207, 230, 252);
    color: #051924;
}
/* End Booking */